@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<!DOCTYPE html>
<html lang="en" id="mainHTML" data-bs-theme="dark">
<script src="~/js/site.js" asp-append-version="true"></script>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="M2Rb1_mdZEEVJid1NUdHn2pE_zlVvtkY0ON1uQbfryc" />
    <title>@ViewData["Title"] - RecomField</title>
    <link rel="stylesheet" href="~/lib/bootstrap/5.2.3/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecomField.styles.css" asp-append-version="true" />
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
                'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
                'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RecomField</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="MyPage">@Localizer["My page"]</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav">
                        <li class="nav-item m-1">
                            <a role="button" asp-controller="Home" asp-action="ChangeLanguage" asp-route-current="@Localizer["en"].Value" asp-route-returnUrl="@Context.Request.Path" aria-disabled="false">
                                <img id="globeIcon" src="~/icons/globe.svg" style="max-width:20px; max-height:20px;">
                            </a>
                        </li>
                        <li class="nav-item m-1">
                            <a role="button" onclick="changeTheme()" aria-disabled="false">
                                <img id="themeIcon" src="~/icons/sun.svg" style="max-width:20px; max-height:20px;">
                            </a>
                        </li>
                    </ul>
                    <script>
                        if (document.documentElement.getAttribute("data-bs-theme") == "light") {
                            document.getElementById("themeIcon").setAttribute("src", "/icons/dark sun.svg");
                            document.getElementById("globeIcon").setAttribute("src", "/icons/dark globe.svg");
                        }
                    </script>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RecomField - <a class="link-secondary text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/hub.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
