@model IEnumerable<Product>
@using static System.Web.HttpUtility;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@foreach (var p in Model)
{
    <tr>
        <td>@p.Type</td>
        <td>
            <button class="btn w-100 h-100 text-start" data-bs-dismiss="modal" onclick="selectProduct('@p.Id', '@p.Type', '@JavaScriptStringEncode(p.Title)', '@p.ReleaseYear')">@p.Title</button>
        </td>
        <td>@p.ReleaseYear</td>
    </tr>
}