@model Review
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization;
@inject IHtmlLocalizer<SharedResource> Localizer
@inject IStringLocalizer<SharedResource> SLocalizer
@{
    if (Model.AuthorId == null) throw new ArgumentNullException(nameof(Model.AuthorId));
    if (Model.Product == null) throw new ArgumentNullException(nameof(Model.Product));
    if (Model.ProductId == 0) throw new ArgumentException("Must not be 0", nameof(Model.ProductId));
    string head = SLocalizer["Review of"] + " " + Model.Product.Title;
    ViewData["Title"] = head;
}

<div class="container-fluid mb-5">
    <h2>@head</h2>
    <hr />
    <form asp-action="EditReview">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div hidden>
            <input asp-for=Id />
            <input asp-for=AuthorId />
            <input asp-for=ProductId />
            <input name="TagsForServer" id="TagsForServer" required />
            <input name="RateForServer" id="RateForServer" required />
            <input id="bodyIsFull" required />
        </div>
        <div class="row g-2">
            <div class="col-md">
                <h5>@Localizer["Title"]</h5>
                <div class="form-floating mb-2">
                    <input asp-for=Title class="form-control" style="font-weight:bolder" type="text" placeholder="@Localizer["Review title"]" required />
                    <label asp-for="Title" class="form-label">@Localizer["Review title"]</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <h5>@Localizer["Tags"]</h5>
                <div class="form-floating mb-2">
                    <input class="form-control" type="text" id="tagForm" list="tagsList" placeholder="@Localizer["Write tags separated by commas"]" maxlength="50" onkeyup="checkTag()" autocomplete="on" />
                    <label class="form-label">@Localizer["Write tags separated by commas"]</label>
                </div>
                <h6 id="tagFeedback" style="color:red" hidden>
                    @Localizer["Please write at least one tag and add a comma."]
                </h6>
                <datalist id="tagsList">
                </datalist>
            </div>
        </div>
        <h5 id="tagsLine"></h5>
        <hr />
        <h5>@Localizer["Content"]</h5>
        <div class="form-group mb-3">
            <textarea asp-for=Body id="tiny" class="form-control" rows="20" placeholder="@Localizer["Content"]"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
            <h6 class="mt-2" id="bodyFeedback" style="color:red" hidden>
                @Localizer["Please fill in the body of the review."]
            </h6>
        </div>
        <hr />
        <h5 class="mt-2" id="myRating">@Localizer["Score"]: -/10</h5>
        <div class="row">
            <div class="col-12">
                @for (int i = 1; i <= 10; i++)
                {
                    <a role="button" class="btn btn-sm btn-light mb-1" style="max-width:28px; max-height:28px" data-attr='@i' name="rateBtn" onclick="changeRate('@i')">
                        <img src="~/icons/star.svg" style="max-width:21px; max-height:21px" aria-hidden="true" />
                    </a>
                }
            </div>
            <h6 class="mt-1" id="rateFeedback" style="color:red" hidden>
                @Localizer["Please rate the product."]
            </h6>
        </div>
        @if(Model.Tags.Count == 0)
        {
            <script>
                addNewTag('@Model.Product.ReleaseYear');
            </script>
        }
        else foreach (var t in Model.Tags)
            {
                <script>
                    addNewTag('@t.Body');
                </script>
            }
        @if (Model.Score != null)
        {
            <script>
                changeRate('@Model.Score.Value');
            </script>
        }
        <hr />
        <button class="btn btn-primary float-end" type="submit" style="min-width:100px" onclick="validate()">@Localizer["Save review"]</button>
    </form>
</div>
