@model Review
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity;
@inject IHtmlLocalizer<SharedResource> Localizer
@inject UserManager<ApplicationUser> userManager
@{
    var appUser = await userManager.GetUserAsync(User);
    ViewData["Title"] = @Localizer["Review"];
}

<div class="container-fluid ">
    <div class="row">
        <div class="col-md-9">
            <h1>@Model.Title</h1>
            <h2>
                By <a asp-controller="User" asp-route-id="@Model.Author.Id">@Model.Author.UserName</a> on @Model.PublicationDate.ToString("MMM dd, yyyy")
                @if (Model.Author == await userManager.GetUserAsync(User))
                {
                    <a asp-controller="Review" asp-action="EditReview" asp-route-id="@Model.Id">Edit</a>
                }
            </h2>
            <h5 id="tagsLine" class="mt-3 mb-3"></h5>
            @if (Model.Tags.Count > 0)
            {
                <script>
                    addAllTags("@string.Join(',', @Model.Tags.Select(t => t.Body))");
                </script>
            }
            <h1>
                @if (Model.Score.Value > 6)
                {
                    <span class="badge bg-success">
                        @Model.Score.Value/10
                    </span>
                }
                else
                {
                    <span class="badge bg-warning">
                        @Model.Score.Value/10
                    </span>
                }
            </h1>
        </div>
        <div class="col-md align-content-end align-items-end text-end">
            <h3>Cover here</h3>
            <h3>Cover here</h3>
            <h3>Cover here</h3>
            <h3>Cover here</h3>
            <h5>@Model.Product.Title</h5>
            <h6>@Model.Product.Type | @Model.Product.ReleaseYear</h6>
            <h4>
                @{
                    var rev = @Model.Product.AverageReviewScore > 0.1 ? @Model.Product.AverageReviewScore.ToString() + "/10" : "n/10";
                    var us = @Model.Product.AverageUserScore > 0.1 ? @Model.Product.AverageUserScore.ToString() + "/5" : "n/5";
                }
                @if (@Model.Product.AverageReviewScore >= 7)
                {
                    <span class="badge text-bg-success fw-bold">@rev</span>
                }
                else
                {
                    <span class="badge text-bg-warning fw-bold">@rev</span>
                }
                @if (@Model.Product.AverageUserScore >= 4)
                {
                    <span class="badge text-bg-success fw-bold">@us</span>
                }
                else
                {
                    <span class="badge text-bg-warning fw-bold">@us</span>
                }
            </h4>
            <h4 class="mt-3">Your score</h4>
            @for (int i = 1; i <= 5; i++)
            {
                <a role="button" class="btn btn-sm btn-light mb-1" style="max-width:26px; max-height:26px" name="rateBtn" onclick="changeRateProd('@i', '@Model.Product.Id')">
                    <img src="~/icons/star.svg" style="max-width:20px; max-height:20px" aria-hidden="true" />
                </a>
            }
            @if (appUser != null)
            {
                var s = Model.Product.UserScores.SingleOrDefault(s => s.Sender == appUser);
                if (s != null)
                {
                    <script>
                        setInitRateProd('@s.Value');
                    </script>
                }
            }
        </div>
    </div>
    <hr />
    @Html.Raw(@Model.Body)
    <hr />
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-auto">
                    <h4>
                        <a asp-controller="User" asp-route-id="@Model.Author.Id">@Model.Author.UserName</a>
                        <small class="text-muted">on @Model.PublicationDate.ToString("MMM dd, yyyy")</small>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md align-items-end text-end">
            <h4>
                <span role="button" id="likeBtn" class="badge text-bg-secondary fw-bold" onclick="changeLike('@Model.Id')">
                    @if (appUser != null && Model.Likes.Count > 0)
                    {
                        var id = User.Claims.First().Value;
                        if (Model.Likes.SingleOrDefault(l => l.SenderId == id) == null)
                        {
                            <img id="likeIcon" src="~/icons/thumb white.svg" aria-label="" style="max-width:20px; max-height:20px;">
                        }
                        else
                        {
                            <img id="likeIcon" src="~/icons/thumb white full.svg" aria-label="Liked" style="max-width:20px; max-height:20px;">
                        }
                    }
                    else
                    {
                        <img id="likeIcon" src="~/icons/thumb white.svg" aria-label="" style="max-width:20px; max-height:20px;">
                    }
                    @Model.Likes.Count
                </span>
            </h4>
        </div>
    </div>
    <div id="reviewComments">
        @await Html.PartialAsync("ReviewComments", (Model.Comments.Take(5), Model.Id, Model.Comments.Count))
    </div>
</div>
