@model (IEnumerable<Comment<Review>>, int, int)
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity;
@inject IHtmlLocalizer<SharedResource> Localizer
@inject UserManager<ApplicationUser> userManager
@{
    var appUser = await userManager.GetUserAsync(User);
    var visibleCount = Model.Item1.Count();
}

<p class="mb-2">
    @Model.Item3 Comments
</p>
@if (appUser != null)
{
    <div class="row">
        <div class="col-auto">
            <label for="comment" class="col-form-label fw-bold">@appUser.UserName</label>
        </div>
        <div class="col">
            <textarea type="text" id="comment" rows="1" class="form-control" placeholder="Add a comment"></textarea>
            <button class="d-flex float-end btn btn-primary mt-2" onclick="addComment('@Model.Item2', '@visibleCount')">Comment</button>
        </div>
    </div>
}
@foreach (var c in Model.Item1)
{
    var when = "";
    if (c.PublicationDate.Year == DateTime.UtcNow.Year)
    {
        if (c.PublicationDate.Month == DateTime.UtcNow.Month)
        {
            if (c.PublicationDate.Day == DateTime.UtcNow.Day)
            {
                if (c.PublicationDate.TimeOfDay.Hours == DateTime.UtcNow.TimeOfDay.Hours)
                when = (DateTime.UtcNow.TimeOfDay.Minutes - c.PublicationDate.TimeOfDay.Minutes) + " minutes ago";
                else when = (DateTime.UtcNow.TimeOfDay.Hours - c.PublicationDate.TimeOfDay.Hours) + " hours ago";
            }
            else when = (DateTime.UtcNow.Day - c.PublicationDate.Day) + " days ago";
        }
        else when = (DateTime.UtcNow.Month - c.PublicationDate.Month) + " months ago";
    }
    else when = (DateTime.UtcNow.Year - c.PublicationDate.Year) + " years ago";
    <div class="row">
        <h6><a href="/User/@c.Sender.Id">@c.Sender</a> @when</h6>
        <p class="mb-4">@c.Body</p>
    </div>
}
<input id="visibleCount" hidden value="@visibleCount" />

<script>
    window.onscroll = function () {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) showMoreComments('@Model.Item2', 5);
    };
</script>