@model IEnumerable<Review>
@using static System.Web.HttpUtility;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@foreach (var review in Model)
{
    <tr>
        <td>
            <a class="h-100 w-100 text-start btn" asp-action="Review" asp-route-id="@review.Id">
                @review.Product.Title
            </a>
        </td>
        <td>
            <div class="dropdown">
                <button class="btn h-100 w-100 text-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @review.Title
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item h-100 w-100 text-start btn" asp-action="Review" asp-route-id="@review.Id">
                            Open
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item h-100 w-100 text-start btn" asp-action="EditReview" asp-route-id="@review.Id">
                            Edit
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item h-100 w-100 text-start btn" onclick="removeReview('@review.Id')">
                            Remove
                        </a>
                    </li>
                </ul>
            </div>
        </td>
        <td>
            @if (review.Score.Value >= 7)
            {
                <span class="badge text-bg-success align-middle" style="min-width:45px; font-size:larger">
                    @review.Score.Value
                </span>
            }
            else
            {
                <span class="badge text-bg-warning align-middle" style="min-width:45px; font-size:larger">
                    @review.Score.Value
                </span>
            }
        </td>
        <td>
            <span class="badge text-bg-secondary align-middle" style="min-width:45px; font-size:larger">
                <img src="~/icons/thumb white full.svg" aria-label="Likes" style="max-width:14px; max-height:14px;">
                @review.Likes.Count
            </span>
        </td>
        <td>@review.PublicationDate.ToString("dd/MM/yy")</td>
    </tr>
}