@model IEnumerable<ApplicationUser>
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity;
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    var admins = ViewData["Admins"] as string[] ?? throw new ArgumentNullException("Admins");
}

@foreach (var u in Model)
{
    bool blocked = u.LockoutEnd > DateTime.UtcNow;
    bool admin = admins.Contains(u.Id);
    <tr>
        <td class="dropdown">
            <div class="h-100 w-100" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <a class="h-100 w-100">@u.UserName</a>
            </div>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item h-100 w-100 text-start btn" asp-controller="User" asp-action="Index" asp-route-id="@u.Id">
                        @Localizer["Go to user page"]
                    </a>
                </li>
                <li>
                    @if (blocked)
                    {
                        <a class="dropdown-item h-100 w-100 text-start btn" onclick="changeUser('@u.Id', 'UnlockUser')">
                            @Localizer["Unblock"]
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item h-100 w-100 text-start btn" onclick="changeUser('@u.Id', 'BlockUser', 'days', '7')">
                            @Localizer["Block for a week"]
                        </a>
                        <a class="dropdown-item h-100 w-100 text-start btn" onclick="changeUser('@u.Id', 'BlockUser')">
                            @Localizer["Block forever"]
                        </a>
                    }
                </li>
                <li>
                    <a class="dropdown-item h-100 w-100 text-start btn" onclick="changeUser('@u.Id', 'RemoveUser')">
                        @Localizer["Remove"]
                    </a>
                </li>
                <li>
                    @if (admin)
                    {
                        <a class="dropdown-item h-100 w-100 text-start btn" onclick="changeUser('@u.Id', 'RevokeAdminRole')">
                            @Localizer["Revoke an admin role"]
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item h-100 w-100 text-start btn" onclick="changeUser('@u.Id', 'AddAdminRole')">
                            @Localizer["Assign an admin role"]
                        </a>
                    }
                </li>
            </ul>
        </td>
        @if (admin)
        {
            <td class="fw-bolder">@Localizer["Admin"]</td>
        }
        else
        {
            <td>@Localizer["User"]</td>
        }
        @if (blocked)
        {
            if (u.LockoutEnd == DateTimeOffset.MaxValue)
            {
                <td class="fw-bolder">@Localizer["Blocked forever"]</td>
            }
            else if (u.LockoutEnd != null)
            {
                <td class="fw-bolder">@Localizer["Blocked until"] @u.LockoutEnd.Value.ToString("dd/MM/yy")</td>
            }
        }
        else
        {
            <td>@Localizer["Active"]</td>
        }
    </tr>
}
