@page
@using RecomField;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@model LoginModel

@{
    ViewData["Title"] = Localizer["Sign in"];
}

<h1>@ViewData["Title"]</h1>
<h5>@Localizer["Not a member? Sign up with the following services"]</h5>
<hr />

<div class="row">
    <div class="col-md-4">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>@Localizer["There are no external authentication services configured"].</p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <div class="mb-3">
                                <button type="submit" class="w-100 btn btn-lg btn-primary" name="provider" value="@provider.Name">@Localizer["Continue with"] @provider.DisplayName</button>
                            </div>
                        }
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
